
<div class="row">
  <%= image_tag("/badger.png", alt: "logo", class: 'logo') %>
</div>
<div class="row">
    <%= form_tag("/", method: "get", class:'form-inline input-group input-group-lg') do %>
      <div class="input-group-prepend">
        <%= label_tag(:keyword, "Today I am a student of ", class:"input-group-text") %>
      </div>
      <%= text_field_tag(:keyword,"", class:'form-control', placeholder: '. . .') %>
      <div class="input-group-append">
        <%= submit_tag("GO!", class: 'btn btn-danger') %>
      </div>
    <% end %>
</div>



<% if @keyword.blank? %>
  <% @courses.each do |course| %>
    <div class="row">
      <div class="col-sm-4"> </div>
      <div class="col-sm-4">   <% course.name %></div>
      <div class="col-sm-4"> </div>
    </div>

  <% end %>

<% else %>

 <% @courses.each do |course| %>

  <div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4">   <%= link_to(course.name, "/courses/" + course.id.to_s + '/show') %></div>
    <div class="col-sm-4"> </div>

    </div>

  <% end %>

<% end %>