 <h1> Add new course details </h1> 


<div class="row">
  <div class="col-sm-4">
    <%= form_for(@course) do |f| %>
       <div class="form-group">
        <%= f.select :category_id, @category_options, {}, class: "form-control" %> 
      </div>      
      <div class="form-group">
        <%= f.text_field :name, size: "20x1", placeholder: "Course name", autofocus: "on", class: "form-control" %> 
      </div>
      <div class="form-group">    
        <%= f.text_area :description, size: "20x3", placeholder: "Course description", class: "form-control" %>      
      </div>

      <h3> Add course resources </h3>

        <%= f.fields_for :resources do |resource_form| %>
        
        <div class="form-group">      
          <%= resource_form.text_field :title, placeholder: "Title of resource", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= resource_form.text_field :link, placeholder: "Link to resource", class: "form-control" %>
        </div>

        <div class="form-group">
          Completed: <%= resource_form.radio_button :completed, true %> yes
          <%= resource_form.radio_button :completed, false %> no

         </div>

          <%= resource_form.hidden_field :course_id %>
      
        <% end %>

      <div class="actions">
        <%= f.submit "Add course", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
