
<div class="row">
  <div class="col-sm-4">

    <%= form_for(@course) do |f| %>
       <div class="form-group">
        <%= f.select :category_id, @category_options, {}, class: "form-control" %> 
      </div>      
      <div class="form-group">
        <%= f.text_field :name, size: "20x1", placeholder: "Course name", autofocus: "on", class: "form-control" %> 
      </div>
      <div class="form-group">    
        <%= f.text_area :description, size: "20x3", placeholder: "Course description", class: "form-control" %>      
      </div>
      <div class="actions">
        <%= f.submit "Add course", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>


