<div class="row">
  <div class="jumbotron">
    <h1 class="display-4"> <%= @course.name %> </h1>
 <!--   <p class="lead">This is a curriculum of a course taughted at [university_name] by [profesor_name].</p> --><p> <%= link_to @course.category.name, category_path(@course.category) %></p>
    <hr class="my-4">
    <p><%= @course.description %> </p>
    <p class="lead">  
    <% if @course.enrolled?(current_student)  %>  
      <%= link_to "Leave course", course_student_path(@course), class: "btn btn-xs btn-danger", method: :delete %>
    <% elsif student_signed_in? %>
      <%= link_to "Enroll", enroll_path(id: @course), class: "btn btn-xs btn-success", method: :post %>
    <% end %>                    
    </p>
  </div>
</div>


<div class="row">
  <div class = "col-sm-8"
  <h1> Resources </h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Link</th>
        <% if student_signed_in? && @course.enrolled?(current_student)%>
          <th scope="col">Completed</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
   
    <% @resources.each do |res| %>
      <tr>
        <td><%= res.title %></td>
        <td><%= res.link %></td>
        <% if student_signed_in? && @course.enrolled?(current_student)%>
          <td><input type="checkbox" value="completed"> </td>
        <% end %>
    <% end %>        
      </tr>
    </tbody>
  </table>
  </div>

  <div class = "col-sm-4">
    <% @attachments.each do |attachment| %>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to("#{attachment.name}", '/download/' + attachment.id.to_s) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if student_signed_in? %>
<%= render 'courses/attachment' %>
<% end %> 