<div class="row">
  <%= form_for(@resource) do |f| %>
    Resource name: <%= f.text_field :title %>
    href: <%= f.text_field :link %>

  <%= end  %>
</div>

  <div class="row form-group">


      <div class="col-sm-9">
       <%= f.file_field :attachment_path, class: 'form-control' %>
      </div>

      <div class="col-sm-3"> <%= f.submit "Add attachment", class: 'btn btn-success' %> </div>

    </div>

    <%= f.hidden_field :course_id %>

    <% end %>


 <% @attachments.each do |attachment| %>

 <div class="row">

  <div class="col-sm-4"> </div>
  <div class="col-sm-4">

 <%= link_to(attachment.attachment_path, '/download/' + attachment.id.to_s) %>
</div>
<div class="col-sm-4"> </div>
</div>

 <% end %>


<div class="row" style= "margin-top: 1vw;">
   <div class="col-sm-4"> </div>
   <div class="col-sm-4">

     <%= form_for(@attachment) do |f| %>

      <div class="row form-group">

        <div class="col-sm-9">
         <%= f.file_field :attachment_path, class: 'form-control' %>
        </div>

        <div class="col-sm-3"> <%= f.submit "Add attachment", class: 'btn btn-success' %> </div>

      </div>

      <%= f.hidden_field :course_id %>

      <% end %>

  </div>

  <div class="col-sm-4"> </div>
</div>



