<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
      <%= image_tag("/badger.png", alt: "logo", class: 'logo') %>
      Badgr
      </a>
    </div>

    <ul class="nav navbar-right col-3 justify-content-around">
      <li class="nav-item"> <%= link_to('Explore', '/categories', class: "nav-link") %></li>
      <% if student_signed_in? %>
        <li class="nav-item"> <%= link_to('Dashboard', my_courses_path, class: "nav-link") %></li>
        <li class="nav-item"> <%= link_to('Sign Out', '/students/sign_out', method: :delete, class: "nav-link") %></li>
      <% else %>
        <li class="nav-item"> <%= link_to('Login', '/students/sign_in', class: "nav-link") %></li>
        <li class="nav-item"> <%= link_to('Register', '/students/sign_up', class: "nav-link") %></li>
      <% end %>
    </ul>
  </div>
</nav>