<!DOCTYPE html>
<html>
  <head>
    <title>Badger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render "layouts/navigation" %>

  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

  <footer>
    <span> Made with <span class="heart"><a href="http://www.youtube.com/watch_popup?v=4r7wHMg5Yjg" target="_blank">♥</a></span> by <%= link_to("the Badgr Team", "https://github.com/netguru-code-college/vol4-badger/")%> © <%= Date.today.year %> </span>
  </footer>

  </body>
</html>
